body, html {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}

input {
    padding: 0;
}

body {
    background-color: #fafafa;
}

.mobile, .desktop1 {
    display: none;
}

.desktop2 {
    display: block;
}

.icon {
    font-size: 20px;
    margin: 0 7px;
    color: #000;
}

/*Cabeçalho*/
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 54px;
    padding: 0 17px;
    box-sizing: border-box;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    z-index: 5;
    top: 0;
    background-color: #ffffff;
    border-radius: 3px;
}

header .icons-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .icons-group:first-child {
    position: absolute;
    z-index: 6;
    top: auto;
    bottom: auto;
    left: calc((100vw - 680px)/2);
}

header .icons-group .divisoria-vertical {
    height: 22px;
    width: 1px;
    background-color: #DBDBDB;
    margin: 0 10px;
}

header #search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #979797;
    border-radius: 3px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    height: 28px;
    width: 215px;
    position: absolute;
    top: auto;
    bottom: auto;
    left: calc((100vw + 120px)/2);
    padding: 0 20px;
}

header #search-bar:focus {
    outline: none;
}

/*Seção de Stories*/
#stories-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 116px;
    width: 614px;
    background-color: #ffffff;
    overflow: hidden;
    padding:0 17px;
    border: 1px solid #DBDBDB;
    margin: 88px auto 24px auto;
    border-radius: 3px;
    position: relative;
}

.arrow-right, .arrow-left {
    position: absolute;
    transform: translateY(-50%);
    font-size: 32px;
    color:#fff;
    filter: drop-shadow(0 0 3px #DBDBDB);
    cursor: pointer;
}
.arrow-right {
    right: 0%;
    z-index: 3;
}
.arrow-left {
    left: 38%;
    z-index: 3;
}

input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="radio"] + label {
    display: block;
}

input[type="radio"]:checked + label {
    display: none;
}

/*Seção do main*/


.stories-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 14px;
}

.stories-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    position: relative;
    z-index: 0;
}

.stories-img:before{
    content:'';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(45deg, 
    rgba(253,251,29,1) 25%, 
    rgba(253,121,29,1) 50%, 
    rgba(252,69,194,1) 75%, 
    rgba(176,29,253,1) 100%);
}

.stories-img:hover::before{
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(-360deg);
    }
}

.stories-img img {
    height: 95%;
    width: 95%;
    border-radius: 50%;
    border: 2.5px solid #ffffff;
    box-sizing: border-box;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
}

.stories-name {
    margin-top: 1px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #000000;
}

/*Seção de Posts*/
.post {
    border: 1px solid #DBDBDB;
    margin: 0 auto 60px auto;
    width: 650px;
    border-radius: 3px;
}

.post:last-child {
    margin-bottom: 52px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 17px 14px 17px;
}

.post-header .post-sender {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.post-header .post-sender img {
    border-radius: 50%;
    height: 18px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-right: 15px;
}

.post-header .post-sender h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    color: #000;
}

.isfilled ~ label .heart-outline, .isfilled:checked ~ label .heart, 
.isfilled ~ label .bookmark-outline, .isfilled:checked ~ label .bookmark {
    display: block;
}

.isfilled, .isfilled ~ label .heart, .isfilled:checked ~ label .heart-outline,
.isfilled ~ label .bookmark, .isfilled:checked ~ label .bookmark-outline {
    display:none;
}

.post-img {
    position: relative;
}

.ayoub:hover::before{
    content: ' ';
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/giphy.gif);
    background-size: contain;
    background-position: center;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-color: #FAFAFA;
}

.post-img img, .post-video video{
    width:100%;
}

.post-action {
    padding: 12px 17px 12px 17px;
}

.post-action .post-utils {
    margin-bottom: 10px;
}

ion-icon {
    cursor: pointer;
}

.post-action .post-utils, .post-action .post-utils .icons-group, 
.post .post-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-action .post-stats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.post-action .post-stats img {
    border-radius: 50%;
    height: 18px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 0 5px 0 8px;
}

.post-action .post-stats span {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
}

.post-action .post-stats span a{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    color: #000;
}

.post-all-comments {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.post-all-comments span {
    text-overflow: ellipsis;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow:row nowrap;
}

.post-all-comments span a {
    margin: 0 10px;
    font-weight: 500;
    color: #000;
}

.horizontal {
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
}

.post .post-comment {
    padding: 12px 17px;
}

.post .post-comment div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.post-comment a {
    color: #B2DFFC;
}

.post-comment a:hover{
    color: #0095F6;
    transition: 300ms;
}

.comments {
    border: none;
    background-color: inherit;
    width: 100%;
}

.comments:focus {
    outline: none;
}

/*Seção da sidebar*/
aside {
    width: 293px;
    margin: 10px;
    position: fixed;
    right: 50%;
    top: 78px;
    transform: translateX(641px);
    z-index: 0;
}

.sidebar-descricao {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;
}

.sidebar-descricao img{
    border-radius: 50%;
    height: 56px;
    width: 56px;
    margin-right: 11px;
}

.descricao-descricao h4{
    color: #262626;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;

}
.descricao-descricao {
    color: #8E8E8E;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.sidebar-summary {
    margin-bottom: 17px;
}

.sidebar-summary div {
    color: #8E8E8E;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
}

.sidebar-summary a {
    color: #262626;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
}

.sidebar-summary, .sidebar-suggestions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.sidebar-suggestions .sidebar-descricao {
    margin-bottom: 0;
}

.sidebar-suggestions .sidebar-descricao img {
    height: 32px;
    width: 32px;
}

.sidebar-suggestions {
    margin-bottom: 16px;
}

.sidebar-suggestions:last-of-type {
    margin-bottom: 0;
}

.sidebar-suggestions a {
    color: #139EF2;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;

}

.sidebar-terms {
    width: 300px;
    margin-bottom: 18px;
    margin-top: 33px;
}

.sidebar-terms a{
    color:#C7C7C7;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;

}

.sidebar-terms a:after{
    content:' •';
}

.sidebar-terms a:last-of-type::after{
    content:'';
}

.sidebar-copyright {
    color:#C7C7C7;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
}

@media (min-width: 1276px) {
    header .icons-group:last-child {
        position: absolute;
        top: auto;
        bottom: auto;
        right: calc(50% - 610px);
    }
}

@media (max-width: 935px){
    .mobile, .desktop2 {
        display: none;
    }
    
    .desktop1 {
        display: block;
    }

    /*Cabeçalho*/
    header {
        justify-content: space-between;
    }

    header .icons-group:first-child {
        position: relative;
        left: auto;  
    }

    header .icons-group:last-child {
        margin-right: 0;
    }

    header #search-bar {
        left: auto;
        right: auto;
        position: relative;
    }
}

@media (max-width: 614px){
    .desktop1, .desktop2 {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    /*Cabeçalho*/
    header {
        border-radius: 0;
    }

    header .icons-group:last-child {
        margin-right: 0;
    }

    header #search-bar{
        display: none;
    }

    /*Seção de Stories*/
    #stories-section {
        height: 121px;
        width: 100%;
        background-color: #fafafa;
        border: none;
        margin: 54px 0 0 0;
        box-sizing: border-box;
        border-radius: 0;
    }
    
    /*Seção do main*/
    main {
        background-color: #fafafa;
        margin-bottom: 54px;
    }
    .post {
        border-bottom: 1px solid #DBDBDB;
        border-top: 1px solid #DBDBDB;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        margin-bottom: 60px;
        width: 100%;
    }

    .post:last-child {
        border-bottom: 0;
    }

    /* Seção da nav */
    nav {
        display: flex!important;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0 17px;
        height: 54px;
        background-color: #ffffff;
        border-top: 1px solid #DBDBDB;
        width: inherit;
        position: fixed;
        bottom: 0;
        z-index: 2;
    }
}